<h1>Introdução</h1>

<p>Uma breve introdução ao tema.</p>

<div class="card">
    <h3 style="color:var(--syntax-func); margin-bottom:15px">
        # PDF das aulas introdutórias
    </h3>

    <button class="btn-action"
        onclick="window.location.href='https://pucpr.instructure.com/courses/63781/pages/introducao-conceitos-e-definicoes-basicas?module_item_id=1515421'">
        <span>aula_introducao.pdf</span>
    </button>
</div>

<div>
    <h3 style="color:var(--syntax-func); margin-bottom:15px">
        # Do que se trata AM?
    </h3>

    <ul>
        <li>Ramo da IA</li>
        <li>Aprendizado a partir de dados</li>
        <li>Mínima intervenção humana</li>
    </ul>
</div>