<h1>Tarefas supervisionadas (classificação/ regressão)</h1>
<p>
  Demanda dados rotulados.
</p>

<p>
  Há diferentes técnicas na AM – diferem na teoria utilizada e modelos gerados.
</p>

<br>
<div class="card">
    <h3 style="color:var(--syntax-func); margin-bottom:15px">
        # KNN - K-Nearest Neighbors
    </h3>

    <div class="img-center">
        <img src="src/imagens/15.png" alt="Imagem ilustrativa">
    </div>

    <p>
        Principais características:
    </p>

    <ul>
        <li class="highlight">Baseado na similaridade entre instâncias</li>
        <li class="highlight">Demanda uma métrica de similaridade (algoritmo original usa distância Euclidiana) </li>
        <li class="highlight">Não gera um modelo explícito (não há um algoritmo de treinamento)</li>
        <li class="highlight">Lento na fase operacional (fase de testes)</li>
    </ul>
</div>

<br>
<div class="card">
    <h3 style="color:var(--syntax-func); margin-bottom:15px">
        # Árvore de decisão
    </h3>

    <div class="img-center">
        <img src="src/imagens/16.png" alt="Imagem ilustrativa">
    </div>

    <p>
        Principais características:
    </p>

    <ul>
        <li class="highlight">Algoritmo de treinamento constrói a árvore avaliando a relevância de cada atributo no processo de classificação ou regressão.</li>
        <li class="highlight">Atributo mais importante está na raiz da árvore.</li>
        <li class="highlight">Nas folhas da árvore temos as classes.</li>
        <li class="highlight">Cada caminho da raiz até uma folha define uma regra do tipo (IF-THEN).</li>
        <li class="highlight">Exemplo típico de modelo caixa branca.</li>
        <li class="highlight">Técnicas de poda são utilizadas para evitar overtraining.</li>
    </ul>
</div>

<br>
<div class="card">
    <h3 style="color:var(--syntax-func); margin-bottom:15px">
        # Classificador Naïve Bayes
    </h3>

    <div class="img-center">
        <img src="src/imagens/17.png" alt="Imagem ilustrativa">
    </div>

    <p>
        Principais características:
    </p>

    <ul>
        <li class="highlight">Tem como base o Teorema de Bayes</li>
        <li class="highlight">Usando na geração de classificadores</li>
        <li class="highlight">Algoritmo de treinamento calcula a probabilidade a priori de cada classe (P(cj)) e a probabilidade condicional de cada atributo de entrada ai dada cada classe cj.</li>
        <li class="highlight">Naïve = ingênuo, pois assume que os atributos de entrada são independentes.</li>
        <li class="highlight">Simples e rápido no treinamento e teste.</li>
    </ul>
</div>

<br>
<div class="card">
    <h3 style="color:var(--syntax-func); margin-bottom:15px">
        # SVM (Support Vector Machine)
    </h3>

    <div class="img-center">
        <img src="src/imagens/18.png" alt="Imagem ilustrativa">
    </div>

    <p>
        Principais características:
    </p>

    <ul>
        <li class="highlight">Tem como base o Teorema de Bayes</li>
        <li class="highlight">Classificador binário, problemas de múltiplas classes demandam a combinação de SVMs (estratégias utilizadas: um-contra-todos ou todos-contra-todos).</li>
        <li class="highlight">Problemas não linearmente separáveis demandam o uso de um Kernel para transformar os dados de treinamento (gera um novo espaço, aumentando a dimensão).</li>
        <li class="highlight">Parâmetro de relaxamento C e Kernel devem ser ajustados simultaneamente (usa-se o algoritmo de busca: GridSearch())</li>
    </ul>
</div>

<br>
<div class="card">
    <h3 style="color:var(--syntax-func); margin-bottom:15px">
        # Redes Neurais Artificiais
    </h3>

    <div class="img-center">
        <img src="src/imagens/19.png" alt="Imagem ilustrativa">
    </div>

    <p>
        Principais características:
    </p>

    <ul>
        <li class="highlight">Necessário definir a topologia da rede:</li>
        <ul>
          <li>Camada de entrada = quantidade de atributos de entrada do problema.</li>
          <li>Camada de saída = quantidade de classes.</li>
          <li>Camadas ocultas definidas experimentalmente: quantidade de camadas e tamanho de cada uma (quantidade de neurônios).</li>
          <li>Cada neurônio tem internamente uma função de ativação. Na camada de saída usa-se softmax().</li>
          <li></li>
        </ul>
        <li class="highlight">A rede aprende a partir dos dados via algoritmo que busca minimizar o erro ajustando os pesos nas conexões entre neurônios (Backprogragation).</li>
        <li class="highlight">Muito suscetível a overtraining (há técnicas para evitar isto).</li>
    </ul>
</div>

<br>
<div class="card">
    <h3 style="color:var(--syntax-func); margin-bottom:15px">
        # Avaliação de Classificadores Binários
    </h3>

    <p>Matriz de confusão (problema binário - duas classes):</p>

    <div class="img-center">
        <img src="src/imagens/20.png" alt="Imagem ilustrativa">
    </div>

    <p>
        Métricas:
    </p>

    <ul>
        <li class="highlight">Taxa de acerto (Acurácia) = (VP+VN) / (VP+VN+FP+FN)</li>
        <li class="highlight">Precisão (Precision): P = VP / (VP+FP) ⇒ Um modelo que não produz falso positivo(FP) tem precisão igual a 1. (quantos itens selecionados são relevantes)</li>
        <li class="highlight">Revocação (Recall): R = VP / (VP + FN) ⇒ Um modelo que não produza falso negativo (FN) tem revocação igual a 1. (quantos item relevantes foram selecionados)</li>
        <li class="highlight">F-measure: 2/(1/P+1/R) => média harmônica entre precisão e revocação</li>
    </ul>

    <div class="img-center">
        <img src="src/imagens/21.png" alt="Imagem ilustrativa">
    </div>
</div>

<br>
<div class="card">
    <h3 style="color:var(--syntax-func); margin-bottom:15px">
        # Classificação: Resumo das etapas do processo.
    </h3>
    <p>Representação do problema</p>
    <ul>
        <li class="highlight">Conhecer muito bem o problema que se pretende modelar.</li>
        <li class="highlight">Entender o ambiente: estático ou dinâmico? Dados acessíveis?</li>
        <li class="highlight">Elaborar uma representação apropriada.
          <ul>
            <li>Definir os atributos que descrevem o problema (entrada e saída)</li>
            <li>Selecionar atributos relevantes (filtragem)</li>
          </ul>
        </li>
    </ul>

    <ul>
      <li class="highlight">Definir as técnicas de AM que serão utilizadas na criação dos modelos.
        <ul>
          <li>O que se espera? Alto desempenho apenas? Explicação para os resultados?</li>
        </ul>
      </li>
      <li class="highlight">Definir o protocolo experimental e as métricas de avaliação a serem utilizadas.</li>
      <li class="highlight">Realizar experimentos para avaliar a capacidade de generalização dos modelos criados.</li>
      <li class="highlight">Analisar os erros do modelo (matriz de confusão), se necessário voltar na escolha da técnicas de AM ou mesmo na representação do problema.</li>
      <li class="highlight">Colocar o modelo selecionado em campo (treinar com a maior quantidade de dados possível).</li>
      <li class="highlight">Acompanhar o desempenho do modelo implantado. Ficar atento para comportamentos indesejáveis que podem ser causados pela presença de viés nos dados de treinamento.</li>
    </ul>

    <div class="img-center">
        <img src="src/imagens/21.png" alt="Imagem ilustrativa">
    </div>
</div>

<br>
<div class="card">
    <h3 style="color:var(--syntax-func); margin-bottom:15px">
        # Treinamento e Avaliação de Classificadores e Regressores
    </h3>
    <p>Técnicas a serem consideradas:</p>
    <ul>
        <li class="highlight">KNN</li>
        <li class="highlight">Naive Bayes</li>
        <li class="highlight">Árvores</li>
        <li class="highlight">SVM</li>
        <li class="highlight">Redes Neurais Artificiais (MLP - MultiLayer Perceptron)</li>
    </ul>

    <p>Métodos de Avaliação</p>
    <ul>
      <li class="highlight">Holdout</li>
      <li class="highlight">Validação Cruzada</li>
      <li class="highlight">Leave-One-Subject-Out (LOSO)</li>
      <li class="highlight">Resubstuição</li>
    </ul>

    <p>Métricas</p>
    <li class="highlight">Classificação: acurácia, precisão, revocação, f-score, matriz de confusão</li>
    <li class="highlight">Regressão: coeficiente de determinação (r2) e mae (mean absolute error)</li>
</div>
