<h1>Terminologia</h1>
<p>Glossário de termos de machine learning</p>

  <div class="exp-item">
    <p>
      Há conceitos básicos importantíssimos que devem ser assimilados para que possamos trabalhar de forma
      adequada. Na seção 2 do artigo Reviewing some Machine Learning Concepts and Method temos a
      descrição dos principais conceitos que devemos conhecer, alguns dos quais foram traduzidos aqui:
    </p>
    <div class="exp-header" onclick="this.parentElement.classList.toggle('open')">
        <span class="exp-icon">></span>
        <span class="exp-title">Bases de dados (ver Figura 1)</span>
    </div>

    <div class="exp-content">
        <div class="img-center">
            <img src="src/imagens/5.png" alt="Imagem ilustrativa">
        </div>
        <p>
          base contendo instâncias (Ti) a serem utilizadas no processo de
          aprendizagem. A base de um determinado problema normalmente é dividida em treinamento e
          teste. A base de treinamento é utilizada na etapa de construção do modelo. Desta, ainda é comum
          separarmos uma parte para validação. Aprende-se com o exemplo de treinamento e ajustam-se
          parâmetros (busca de otimização) ou mesmo encerra-se o processo de treinamento utilizando-se a
          base de validação. Já a base de teste é uma caixa-preta, e deve ser utilizada somente na avaliação
          final de desempenho dos modelos (hipóteses) criados.
        </p>
    </div>
</div>